@font-face {
  font-family: 'Grotesque MT Regular';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/GrotesqueMTStd.woff) format('woff');
}

@font-face {
  font-family: 'Grotesque MT Italic';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/GrotesqueMTStd-Italic.woff) format('woff');
}

@font-face {
  font-family: 'Grotesque MT Bold';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/GrotesqueMTStd-Bold.woff) format('woff');
}
