<div id="main-wrapper">
  <header>
    <a href="/index.html"><h1 id="title">Cold&nbsp;Cuts</h1></a>
  </header>
  <section id="home-body">
    <div id="garage"></div>
  </section>
  <nav id="navbar">
    <div id='nav-container'>
      <span><a rel="about-panel" id="about" href="#">About</a></span>
      <span><a rel="future-panel" id="future" href="#">Future</a></span>
      <span><a rel="past-panel" id="past" href="#">Past</a></span>
      <span><a rel="contact-panel" id="contact" href="#">Contact</a></span>
    </div>
  </nav>
  <div id="panels">
    <section class="panel" id="about-panel">
      <span class='close'>×</span>
      <div class="panel-container">
        <h1 class="section-title">ABOUT</h1>
        <p class="eighty">
          A project space in a garage in Petersham, Sydney.
          <br />
          <br />
          Cold Cuts acknowledges the traditional custodians of the land on which we operate, the Cadigal people, and we pay our respects to their Elders past and present.
        </p>
      </div>
    </section>
    <section class="panel" id="future-panel">
      <span class='close'>×</span>
      <div class="panel-container">
        <h1 class="section-title">FUTURE</h1>
        <h2>Coming Soon</h2>
      </div>
    </section>
    <section class="panel" id="past-panel">
      <span class='close'>×</span>
      <div class="panel-container">
        <section class="past-exhbition">
          <h1 class="section-title">PAST</h1>
          {% include shows.html %}
        </section>
      </div>
    </section>
    <section class="panel" id="contact-panel">
      <span class='close'>×</span>
      <div class="panel-container">
        <h1 class="section-title">CONTACT</h1>
        <h2>212 Corunna Road</h2>
        <h2>Petersham, Sydney</h2>
        <h2>NSW, Australia, 2049</h2>
        <a href="mailto:hello@coldcuts.com.au"><h2 class="margin-top-h2 fade-link">hello[at]coldcuts.com.au</h2></a>
      </div>
    </section>
  </div>
</div>
